/* перем */
:root {
    --purple-col: rgb(134, 17, 134);
    --blue-col: rgb(24, 192, 192);
    --background-black-opacity: rgb(0, 0, 0, 85%);
}

a {
    color: var(--blue-col);
    text-decoration: none;
    transition: opacity 0.10s, 1s ease-out ;
}

a:hover {
    opacity: 0.7;
    color: var(--purple-col);;
}

/* фоновая картинка */
.header {
    height: 110vh;
    background: url(https://gas-kvas.com/grafic/uploads/posts/2024-01/gas-kvas-com-p-goroda-oboi-yaponiya-sakura-33.jpg) no-repeat center;
    background-size: cover;
    clip-path: polygon(100% 0, 100% 100%, 50% 92%, 0 100%, 0 0);
}

/* верхушка */
.header-top {
    color: var(--blue-col);
    background: var(--background-black-opacity);

    height: 75px;

    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.header-top a.active {
    color: var(--purple-col);
}

/* логотип */
.logo {
    font-size: 28px;
    color: var(--blue-col);
}

/* гипер ссылки */
.menu {
    display: flex;
    align-items: center;
    justify-content: center;

    color: aqua;
}

.menu-element{
    margin-right: 10px;

    font-size: 20px;
}

.menu-element:last-child {
    margin-right: 0;
}

.header-center {
    color: var(--blue-col);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: calc(100vh - 75px);
}

.header-center__wrapper{
    background: var(--background-black-opacity);
    width: 100%;
    padding: 10px 0 10px;
    text-align: center;
}

.name {
    font-size: 50px;
}