/* перем */
:root {
    --purple-col: rgb(134, 17, 134);
    --blue-col: rgb(24, 192, 192);
    --background-black-opacity: rgb(0, 0, 0, 85%);
}

a {
    color: var(--blue-col);
    text-decoration: none;
    transition: opacity 0.10s, 1s ease-out ;
}

a.link:hover {
    opacity: 0.7;
    color: var(--purple-col);;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* фоновая картинка */
.header {
    position: relative;
    height: 110vh;
    clip-path: polygon(100% 0, 100% 100%, 50% 92%, 0 100%, 0 0);
}

.header-background {
    position: absolute;
    height: inherit;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    filter: blur(2px) saturate(170%);
}

.header-background-wrapper {
    position: absolute;
    height: inherit;
    width: 100%;

    background: rgb(0, 0, 0, .4);

    z-index: 1;
}

/* верхушка */
.header-top {
    color: var(--blue-col);
    background: var(--background-black-opacity);

    height: 75px;

    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;

    z-index: 3;
    position: sticky;
    top: 0;
}

/* логотип */
.logo {
    font-size: 28px;
    color: var(--blue-col);
}

/* гипер ссылки */
.menu-element{
    margin-right: 20px;

    font-size: 20px;
}

.menu-element:last-child {
    margin-right: 0;
}

.menu-element a.link.active .menu-element a.link:hover {
    color: var(--purple-col);
}

.header-center {
    color: var(--blue-col);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: calc(100vh - 75px);

    position: relative;
    z-index: 2;
}

.header-center__wrapper{
    background: var(--background-black-opacity);
    width: 100%;
    padding: 10px 0 18px;
    text-align: center;
}

.name {
    font-size: 50px;
    line-height: 50px;
}

.description {
    font-size: 16px;
    width: 184px;

    white-space: nowrap;
    
    overflow: hidden;
    
    display: inline-block;
    
    animation: wave 1s, print-text 1s ;
}

@keyframes wave {
    25% {
        color: var(--purple-col);
    }

    50% {
        color: var(--blue-col);
    }

    75% {
        color: var(--purple-col);
    }

    100%{
        color: var(--blue-col);
    }
}

@keyframes print-text {
    from {
        width: 0;
    }
}